@model List<MVCLibrary.Models.Library>

	@{ ViewBag.Title = "The Great Libraries";}

	<h2>@ViewBag.Title</h2>

	<h3>@Model.Count</h3>


	<a asp-controller="Library" asp-action="Create">Add Library</a>


	<table class="table">
		<tr>
			<th>Id</th>
			<th>Url</th>
			<th>Actions</th>
		</tr>
		@foreach (var library in Model){
		<tr>
			<td>@library.Name</td>
			<td>@library.Address</td>
			<td>
				<a asp-controller="Library" asp-action="Details" asp-route-id="@library.Id">Details</a>
			</td>
		</tr>
		}
	</table>